<header>
    <nav class="nav-header">
        
        <!--<a class="logo" href="/">Capela </a>-->
        <br>
        
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

        <ul class="nav-list">
            
            <li><a href="/inicio"> Inicio</a></li>                    
            <li><a href="/"> Catequese </a>
                <ul><a href="/">Catequisando</ul>  
                <ul><a href="/">Catequistas</ul>  
                <ul><a href="/">Turmas</ul>  
            </li>
            <li><a href="/dizimo"> Dizimo </a></li>
            <li><a href="/">Doações </a></li>
            <li><a href="/">Eventos </a></li>            
            <li><a href="/">Contas a pagar </a></li>

        </ul>
    </nav>
    </header>