<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
   <Title></title>
   <link rel='stylesheet' type='text/css' href='style\menuInicio.css'>
   <link rel='stylesheet' type='text/css' href='style\header.css'>
   <link rel='stylesheet' type='text/css' href='style\dropdownMenus.css'>
   <link rel='stylesheet' type='text/css' href='style\corpo-page.css'>
   <link rel="stylesheet" 
   href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
   integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
   crossorigin="anonymous"/>
   
</head>

<body onload="i">

    <header>
    <nav class="nav-header">
        
        <!--<a class="logo" href="/">Capela </a>-->
        <br>
        
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

        <ul class="nav-list">
            
            <li><a href="/inicio"> Inicio</a></li>                    
            <li><a href="/"> Catequese </a>
                <ul><a href="/">Catequisando</ul>  
                <ul><a href="/">Catequistas</ul>  
                <ul><a href="/">Turmas</ul>  
            </li>
            <li><a href="/dizimo"> Dizimo </a></li>
            <li><a href="/">Doações </a></li>
            <li><a href="/">Eventos </a></li>            
            <li><a href="/">Contas a pagar </a></li>

        </ul>
    </nav>
    </header>

    {{{body}}}
    
    <script type="text/javascript" src="js/carregarInicio.js"></script>
    <script type="text/javascript" src="js/mobile-navbar.js"></script>
        
</body>
</html>