

input[type="txt"],[type="date"], [type="select"]{
    animation: exibe .5s;
}


label{
    animation: exibe .3s;
}

#dados-pessoais{
    border: 0px;
    box-shadow: 0 0 1em black inset;
    border-radius: 10px;
    background-color: #ccc;
    padding: 3vh;
    margin-top:2vh;
    display: grid;
    width:100vh;

}



.row{
    padding-left: 5vh;
    padding-right: 0vh;
}

.div-casamento{
    display: none;
}

@keyframes exibe {
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
    
}