<style src="public/style/loading.css"></style>


<div class="corpo">
<!--Inicio do corpo da page-->


<div class="corpoPageDiv">


    <img src="img/icons8-login-arredondado-128.png" />

</div>

<!--Fim do corpo da page-->


</div>
<!--Fim da pagina-->


<!--Animação de loading-->

<div class="loading"></div>


<script type="text/javascript" src="js/carregarInicio.js">
window.onload = i
</script>
<script type="text/javascript" src="js/mobile-navbar.js"></script>