<form method="POST">
    <div align="center"  id="divPrincipal" class="form-todo">

        <h4>Bem vindo!</h4><br/>

        <div class="form-group">
        <label for="loginTxt">Login</label>
        <input type="text"  name="login" class="form-field" placeholder="Nome de Usuário" required/> 
        </div>

        <div class="form-group">
        <label for="senhaTxt">Senha</label>
        <input type="password"  name="senha" class="form-field" placeholder="Senha" required/> 
        </div>

        <div class="form-group">
        <input type="submit" name="logar" class="btn btn-dark" value="Entrar"/>
        </div>
    </div>
</form> 