<link rel="stylesheet" type="text/css" href="style\doacoes\doacoes.css">
<link rel="stylesheet" type="text/css" href="style\pesquisa">


<div id="div-principal" class="flex-container">
    
    <div id="pesquisar-div">
        <input type="text" name="pesquisaTxt" placeholder="Pesquisar" class="form-control">
    </div>

    <div class="row">
        <div class="col-6">
            <div id="doador-div">
                <h5>Doador</h5>
            </div>
        </div>
        
        <div class="col-6">
            <div id="doacao-div">
                <h5>Doação</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div Class="col-5">
            <button value="cadastrar" class="btn btn-dark">Cadastrar</button> 
        </div>
        <div Class="col-5">
            <button value="cadastrar" class="btn btn-dark">Cadastrar</button>  
        </div>
    </div>
</div>