<link rel="stylesheet" type="text/css" href="style\eventos\eventos.css">

<div class="flex-container">
    <div class="col-4" id="novo-evento">
        <h6>Nome</h6>
        <h6>Data</h6>
        <h6>Descrição</h6>
    </div>

</div>